<div class="topnav" id="myTopnav" >
  <div class="logo">Logo</div>
</div>
  <!-- <div class="container"> -->
    <div class="wrap">
    
    <form [formGroup]="form" class="form" >
    <span class="form-title">
    Registration
    </span>
    <div class="wrap-input">
      <input type="text" class="user" placeholder="First Name" formControlName="firstName"> 
      <div *ngIf="submitted && form.controls.firstName.errors" class="error">
        <div *ngIf="form.controls.firstName.errors.required">First Name is required</div>
      </div>   
      </div>
      <div class="wrap-input">
        <input id="phone" class="input" type="text"  placeholder="Last Name" formControlName="lastName">
        <div *ngIf="submitted && form.controls.lastName.errors" class="error">
          <div *ngIf="form.controls.lastName.errors.required">Last Name is required</div>
        </div> 
        </div>
    <div class="wrap-input">
      <input id="phone" class="input" type="text" placeholder="Phone Number" formControlName="phone">
      <div *ngIf="submitted && form.controls.phone.errors" class="error">
        <div *ngIf="form.controls.phone.errors.required">Phone Number is required</div>
        <div *ngIf="form.controls.phone.errors.pattern">Please enter valid phone number</div>

      </div> 
      </div>
    <div class="wrap-input validate-input" >
    <input id="email" class="input" type="text" placeholder="Email" formControlName="email">
    <div *ngIf="submitted && form.controls.email.errors" class="error">
      <div *ngIf="form.controls.email.errors.required">Email is required</div>
      <div *ngIf="form.controls.email.errors.pattern">Please enter valid EmailId</div>

    </div> 
    </div>
    <div class="wrap-input">
    <input class="input" type="text"  placeholder="Password" formControlName="password1" > 
    <div *ngIf="submitted && form.controls.password1.errors" class="error">
      <div *ngIf="form.controls.password1.errors.required">Password is required</div>
      <div *ngIf="form.controls.password1.errors.pattern">Password should contain atleast one capital letter,one number and one special character</div>

    </div> 
    </div>
    <div class="wrap-input">
      <input  class="input" type="text"  placeholder="Re enter Password" formControlName="password2">
      <div *ngIf="submitted && form.controls.password2.errors" class="error">
        <div *ngIf="form.controls.password2.errors.required">Reenter Password is required</div>
      </div> 
      </div>
    <div class="wrap-input">
      <input type="checkbox"><span style="margin-left: 10px;color: #ffffff;">by signing up,I accept term and condition</span>
    </div>
    <div class="wrap-input">
      <button class="input-button" type="button" (click)="onSubmit()">Register</button>
  
    </div>
    </form>
    <div class="contact-more flex-col-c-m" >
    <div class="flex-w size1">
  
    </div>
    <div class="dis-flex size1">
  
    </div>
    <div class="dis-flex size1">
    
   
    </div>
    </div>
    </div>
   
  <!-- </div> -->

  <div class="footer"  >
    <div class="copy">Copyrigt 2019</div>
  </div>